@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
body {
	margin: 10px;
	font: 1em Arial, Helvetica, sans-serif;
	color: #000000;
        background: #ffffff url(http://polychrony.inria.fr/images/bg.jpg) repeat-x;
      	}
#content{
	position: relative;
	width: 800px;
	margin: 0 auto;
	}
top{
	margin: 0px;
	width: 792px;
	height: 165px;
	padding: 2px;
	background-color: #FFFFFF;
	border: 2px solid #C0C0C0;
	}
#top_ban{
	margin: 0px;
	width: 788px;
	height: 120px;
	border: 2px solid #C0C0C0;
	background: url(http://polychrony.inria.fr/images/topban.png) no-repeat left bottom;
	}
#menu {
	font: 0.9em Tahoma, sans;
	text-align: center;
	list-style-type: none;
	margin: 0;
	height: 37px;
	line-height: 37px;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	background: url(http://polychrony.inria.fr/images/nav.png) repeat-x left bottom;
}
#menu li {
	display: inline;
	font-weight: bold;
	height: 20px;
	line-height: 24px;
	padding: 0px 4px 0 4px;
	text-decoration: none;
	font-size: 1.0em;
	text-align: center;
	color: #2A3976;
	font-variant: small-caps;
	font-weight: bold;
	border-right: 2px solid #C0C0C0;
}
#menu li a {
	margin: 0 10px;
	color: #2A3976;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}
#page{
	float: left;
	width: 780px;
	min-height: 800px;
	}
#footer{
	width: 792px;
	height: 35px;
	padding: 2px;
	background-color: #BDC4E5;
	border: 2px solid #FFFFFF;
	text-align: center;
	clear: both;
	}
#footer a{
	font-size: 0.8em;
	color: #565D79;
	}
a{
	text-decoration: none;
	color: #2E4FDD;
	}
a:hover{
	text-decoration: underline;
	color: #6974C5;
	}
img.img {
	border: 1px dashed #E1E2E8;
	padding: 6px;
	}
#top_ban h1{
	color: #485066;
	font: 2.0em Georgia, Arial;
	padding: 70px 0px 4px 10px;
	border: 0px solid #E1E2E8;
	font-weight: bold;
	font-variant: small-caps;
	}
h1{
	color: #990000;
	width: 80%;
	font: 1.4em Georgia, Arial;
	border-bottom: 2px solid #B30000;
	border-left: 4px solid #B30000;
	text-align: left;
	font-variant: small-caps;
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
	}
h2{
	width: 60%;
	color: #D60000;
	font: 1.2em Georgia, Arial;
	border-bottom: 1px solid #C0C0C0;
	margin: 10px 0 10px 0;
	padding-bottom: 3px;
	}

h3{
	margin: 10px 0 10px 0;
}	

ul{ 
	list-style-type: square;
}

ol{
	list-style-type: none;
}

li{
	list-style-type: inherit;
	margin-top: 12px;
	margin-left: 20px;
}

p{
	width: 95%;
	margin: 12px 10px 20px 0px;
	padding: 0px 10px 0px 0px;
	}
